# Thư viện

In [13]:
import pandas as pd

# Tiền xử lý dữ liệu

In [14]:
# Load dữ liệu
covid19_statistics_df = pd.read_csv('./Data/Covid19_Statistics_24_04_2022.csv')
covid19_statistics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country,Other     228 non-null    object
 1   TotalCases        228 non-null    int64
 2   NewCases          108 non-null    float64
 3   TotalDeaths       219 non-null    float64
 4   NewDeaths         60 non-null     float64
 5   TotalRecovered    213 non-null    float64
 6   NewRecovered      90 non-null     float64
 7   ActiveCases       213 non-null    float64
 8   Serious,Critical  151 non-null    float64
 9   Tot Cases/1M pop  226 non-null    float64
 10  Deaths/1M pop     217 non-null    float64
 11  TotalTests        212 non-null    float64
 12  Tests/ 1M pop     212 non-null    float64
 13  Population        226 non-null    float64
 14  Continent         226 non-null    object
dtypes: float64(12), int64(1), object(2)
memory usage: 26.8+ KB

In [15]:
covid19_statistics_df.head()

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/ 1M pop,Population,Continent
0,China,200654,1580.0,4725.0,39.0,166398.0,2672.0,29531.0,236.0,139.0,3.0,1.600000e+08,111163.0,1.439324e+09,Asia
1,USA,82698955,28904.0,1018441.0,50.0,80465351.0,30438.0,1215163.0,1426.0,247219.0,3045.0,1.000491e+09,2990853.0,3.345170e+08,North America
2,India,43060086,2541.0,522223.0,30.0,42521341.0,1862.0,16522.0,698.0,30657.0,372.0,8.347177e+08,594287.0,1.404569e+09,Asia
3,Brazil,30349463,3809.0,662701.0,38.0,29384354.0,19954.0,302408.0,8318.0,140967.0,3078.0,6.377617e+07,296227.0,2.152952e+08,South America
4,France,28303931,58954.0,145060.0,40.0,25880480.0,27573.0,2278391.0,1677.0,431890.0,2213.0,2.664840e+08,4066284.0,6.553503e+07,Europe

In [16]:
# Kích thước tập dữ liệu
covid19_statistics_df.shape

(228, 15)

In [17]:
# Kiểm tra dữ liệu có bị lặp?
covid19_statistics_df.duplicated().sum()

0

In [18]:
# Kiểm tra dữ liệu có bị thiếu?
covid19_statistics_df.isna().sum()

Country,Other         0
TotalCases            0
NewCases            120
TotalDeaths           9
NewDeaths           168
TotalRecovered       15
NewRecovered        138
ActiveCases          15
Serious,Critical     77
Tot Cases/1M pop      2
Deaths/1M pop        11
TotalTests           16
Tests/ 1M pop        16
Population            2
Continent             2
dtype: int64